@use '../../utilities/styles';

.general-btn {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.75em;
  font-size: 0.95em;
  margin-right: 0.25em;
  @include styles.secFontBold;
}

.more-info {
  color: white;
  background-color: rgba(73, 71, 71, 0.904);
}

.purchase,
.send-form,
.more-info {
  transition: all 0.4s;
  &:hover {
    transform: scale(1.05) translateY(-10%);
    -webkit-box-shadow: 0px 15px 5px -3px rgba(0, 0, 0, 0.479);
    -moz-box-shadow: 0px 15px 5px -3px rgba(0, 0, 0, 0.479);
    box-shadow: 0px 15px 10px -3px rgba(0, 0, 0, 0.479);
  }
}
