@use '../../utilities/styles';

.full-book-container {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'featureImg'
    'audio'
    'btnLinks';
  grid-template-columns: 100%;
  width: 95%;
  @include styles.media(768) {
    width: 90%;
    grid-template-areas:
      'featureDesc featureImg '
      'btnLinks audio';
    grid-template-columns: 60% 40%;
  }
  @include styles.media(1040) {
    width: 80%;
  }
  @include styles.media(1240) {
    grid-template-areas:
      'featureDesc featureDesc featureImg '
      'btnLinks audio featureImg';
    grid-template-columns: 35% 25% 40%;
  }
}

.full-book-description-container {
  grid-area: featureDesc;
  color: white;
}
.full-book-title {
  margin: 0;
  text-transform: capitalize;

  @include styles.secFontBold;
  font-size: 4em;
  @include styles.media(1240) {
    font-size: 5em;
  }
}
.full-book-author-and-series-container {
  display: flex;
}
.full-book-author,
.full-book-series {
  margin-top: 0.5em;
  font-size: 0.9em;
  margin-bottom: 0.75em;
  text-transform: capitalize;
}
.full-book-series {
  margin-left: 0.5em;
}
.full-book-blurb {
  font-size: 1em;
  @include styles.media(1240) {
    font-size: 1.2em;
  }
  @include styles.media(1500) {
    font-size: 1.5em;
  }
}

.full-book-img-container {
  grid-area: featureImg;
  align-self: center;
  justify-self: center;

  width: 65%;
  display: flex;
  justify-content: center;
  @include styles.media(768) {
    width: unset;
  }

  .full-book-img {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: -15px 15px 5px -6px rgba(0, 0, 0, 0.479);
    -moz-box-shadow: -15px 15px 5px -6px rgba(0, 0, 0, 0.479);
    box-shadow: -15px 15px 5px -6px rgba(0, 0, 0, 0.479);
  }
}

.btn-links-and-audio-container {
  display: flex;
  justify-content: center;
  grid-area: btnLinks;
  @include styles.media(768) {
    justify-content: flex-start;
  }
  @include styles.media(1040) {
    align-items: center;
  }
}

.full-book-container > .audioPlayer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: audio;
  @include styles.media(768) {
    // margin-left: auto;
    align-items: center;
  }
}
