.book-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  & .feature-item-container {
    margin: 0;
  }
}
