.desktop-nav {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin: 0.25vmin 0;

  .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0 1vmin;
  }
}
