@use '../../utilities/styles';

.author-page-container {
  padding: 5em;
  min-height: 100vh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.author-page-author-name {
  color: white;
  @include styles.priFontBold;
  margin: 1em 1em 1em 0;
  font-size: 2em;
  text-transform: capitalize;
}
